.jumbotron {
  color: gold;
  font-weight: bold;
  text-align: center;
}

#center {
  text-align: center;
  font-style: italic;
}

#packages{
  background-color: rgba(252, 29, 0, 0.3)
}

body
{
  background-color: #efedd2;
}
